@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    gap: 0.65em;
}

.LogoItem {
    height: 5.875rem;
    width: 1.938rem;

}

.nav {
    display: none;
    gap: 1.5rem;

}

@media screen and (min-width:768px) {
    .nav {
        display: flex;
    }


}

.nav-link {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover {
    color: var(--link-color);
}

.contact-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;

}

@media screen and (min-width:768px) {
    .contact-button {
        display: block;
    }
}


.contact-button:hover {
    background-color: #5254f8;
}

.main-section {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
    justify-content: center;

}

.left-content {
    text-align: center;
    animation: slideFromleft 1s ease forwards;
}

@keyframes slideFromleft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.section-label {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title {
    padding: 1rem;
    font-size: 2.25rem;
    color: var(--text-color);
}

.section-description {
    font-size: 1.1rem;
    color: var(--gray);
}

.button-group {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button,
.tour-button {
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2rem;
}

.tour-button {
    background-color: var(--dark-gray);
}

.start-button:hover {
    background-color: #5254f8;
}

.tour-button:hover {
    background-color: var(--gray);
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 57vh;
}

.Section-Image {
    width: 100%;
    height: 100%;
}

@media screen and (min-width : 768px) {
    .main-section {
        flex-direction: row;
    }

    .left-content {
        max-width: 50%;
        text-align: left;

    }

    .section-title {
        padding-left: 0;
    }

    .button-group {
        justify-content: start;
        padding-left: 0;
    }

    .section-label {
        font-size: 1rem;
    }

    .section-title {
        font-size: 3.75rem;
    }

    .image-container {
        height: 70vh;
        justify-content: center;
        align-items: center;
    }

    .section-description {
        font-size: 1rem;
        /* color: var(--light-gray); */
        width: 80%;
    }

}

.company-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromleft 1s ease forwards;
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1.8rem 2.5rem;
}

@media screen and (min-width : 640px) {
    .company-grid {
        grid-template-columns: repeat(4, 1fr);
    }

}

.company-logo {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;


}

.svg-logo {
    height: 1.56rem;

}

.logo-text {
    font-size: 1rem;
}

.feature-container {
    background-color: var(--light-gray);
    padding: 2.5rem 0rem;
    text-align: center;
}

.feature-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0rem 2 rem;

}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title {
    font-size: 2.8rem;
}

.main-description {
    color: var(--gray);
    font-size: 1rem;
}

.feature-grid {
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.3rem;
    grid-gap: 2rem;
}

@media screen and (max-width : 768px) {
    .feature-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}

.feature-svg {
    width: 1.5rem;
    height: 1.5rem;

}

.icon-container {
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5f7cbb;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;

}

.feature-card:nth-child(1) {
    background-color: #4a90e2;
}

.feature-card:nth-child(2) {
    background-color: #ff6289;
}

.feature-card:nth-child(3) {
    background-color: #fcbf58;
}

.feature-card:nth-child(4) {
    background-color: #44bfc3;
}

.feature-card:nth-child(5) {
    background-color: #77b05d;
}

.feature-card:nth-child(6) {
    background-color: #7d78b1;
}


.feature-description,
.feature-title {
    color: var(--background-color);
}

.feature-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.feature-title {
    font-weight: bold;
    font-size: 1.3rem;
}

.testimonial-container {
    background-color: var(--background-color);
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1280px;
    margin-top: 2rem;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}

.testimonial-tittle {
    font-size: 1.75rem;
    font-weight: bold;

}

.testimonial-text {
    font-size: 0.875rem;
    color: #555;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(132, 126, 126);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1.6rem;
    padding: 0.8rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    border: 1px blue solid;
}

.testimonial-avatar {
    height: 5rem;
    width: 5rem;
}

.testimonial-name {
    color: var(--primary-color);
    font-size: 1rem;
}

.testimonial-description {
    font-size: 0.875rem;
    color: #777;
}

.newsletter-container {

    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 60vh;
    margin: 0 auto;
}

.newsletter-content {
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    gap: 1rem;
}

.newsletter-img-container {
    height: 100%;
    width: 50%;
    display: none;
    /* padding: 1rem; */
}

.newsletter-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;



}

@media screen and (min-width : 640px) {
    .newsletter-img-container {
        display: block;
    }

}

.newsletter-form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
    align-items: start;
}

.news-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-title {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: bold;
}

.info-description {
    color: #777;
}

.news-form {
    /* padding: 0 3rem; */
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}

.email-input {
    background-color: var(--background-color);
    width: 100%;
    color: #333;
    outline: none;
    border: 2.5px solid black;
    border-radius: 4px;
    padding: 0.5rem 0.75rem
}

.email-input:focus {
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.send-button {
    color: var(--background-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;

}

.news-terms {
    font-size: 0.9rem;
}

.news-link {
    text-decoration: underline;
}

.footer-container{
    background-color: var(--light-gray);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    /* max-width: 1280px; */
    height: max-content;
    justify-content: center;
    align-items: center;
}

.footer-top{
    max-width: 1280px;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 3rem;
    

}

.footer-logos{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.7rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 0.8rem;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-svg{
    width: 2.2rem;
    height: 6.3rem;
}

.socials{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;
}



.filter-text{
    font-size: 1rem;
    color: #777;    
}

.social-logo
{
    width: 1.5rem;
    height: 1.5rem;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3.6rem;
    padding: 1.9rem 1rem;
}

.footer-grid-heading{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 2rem;
}

ul{
    list-style: none;
}

.footer-link{
    color: #777;
    font-size: 1rem;
}

.footer-link-list{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer-copyright{
    border-top: 1px solid black;
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    width: 80%;
}

@media screen and (max-width : 1080px) {

    .footer-top{
        flex-direction: column;
        align-items: center;

    }
    /*  */

    .footer-grid{
       justify-content: space-evenly;
    }
}

@media screen and (max-width : 850px) {
    .footer-grid{
        grid-template-columns: repeat(2 , 1fr);
    }
}